{% load static custom_tags i18n %}

{% get_categories as categories %}
{% filter_number config.PHONE_NUMBER as phone_number %}

<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__top">
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <img src="{% static 'images/icons/call-dark.svg' %}"
                             alt="combo.uz phone numbers"/><strong>{% trans 'Телефоны' %}</strong>
                    </li>
                    <li class="footer__list-item">

                        <a class="footer__list-link-se" href="tel:{{ phone_number }}">{{ config.PHONE_NUMBER }}</a>
                    </li>
                    <li class="footer__list-item">
                        <span>({{ config.CALLING_TIME }})</span>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <img src="{% static 'images/icons/message-dark.svg' %}"
                             alt="combo.uz mailbox"/><strong>{% trans 'Почта' %}</strong>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link" href="mailto:{{ config.EMAIL }}">{{ config.EMAIL }}</a>
                    </li>
                    <li class="footer__list-item">
                        <span>{% trans 'Отдел продаж' %}</span>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <img src="{% static 'images/icons/location.svg' %}"
                             alt="combo.uz location"/><strong>{% trans 'Адрес' %}</strong>
                    </li>
                    <li class="footer__list-item">
                        <a class="footer__list-link"
                           href="https://yandex.uz/maps/org/combo_uz/238036475009/?utm_medium=mapframe&utm_source=maps"
                           target="_blank">{{ config.OFFICE_ADDRESS }}</a>
                    </li>
                    <li class="footer__list-item">
                        <span>{% trans 'Офис' %}</span>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <img src="{% static 'images/icons/clock.svg' %}"
                             alt="combo.uz work times"/><strong>{% trans 'Режим работы' %}</strong>
                    </li>
                    <li class="footer__list-item">
                        <div class="footer__list-link-se">
                            {{ config.WORKING_TIME }}
                        </div>
                    </li>
                    <li class="footer__list-item">
                        <span>{% trans 'Пн-Пт' %}</span>
                    </li>
                </ul>
            </div>
            <div class="footer__middle">
                <div class="footer__middle-left">
                    <p class="footer__middle-excerpt">
                        {% trans 'Ссылки' %}
                    </p>
                    <ul class="footer__middle-list">
                        <li class="footer__middle-list-item">
                            <a class="footer__middle-link" href="{% url 'about' %}">{% trans 'О компании' %}</a>
                        </li>
                        <li class="footer__middle-list-item">
                            <a class="footer__middle-link" href="{% url 'contacts' %}">{% trans 'Контакты' %}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__middle-right">
                    <h3 class="footer__middle-questions">{% trans 'Появились вопросы?' %}</h3><a
                        class="footer__list-link" href="tel:{{ phone_number }}">{% trans 'Позвони' %}</a>
                </div>
            </div>
            <div class="footer__bottom"><p class="footer__bottom-descr">{% trans 'Разработано' %}:Creative Agency</p>
                <ul class="footer__bottom-list">
                    {% for social_item in social_items %}
                        <li class="footer__bottom-list-item"><a class="footer__bottom-link"
                                                                href="{{ social_item.link }}" target="_blank"><span
                                class="footer__bottom-link-mask"
                                style="-webkit-mask-image: url('{{ social_item.icon.url }}');
                                        mask-image: url('{{ social_item.icon.url }}');"></span></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-se">
        <div class="footer-se__top"></div>
        <div class="container">
            <div class="footer-se__items">
                {% for category in categories %}
                    {% if category.subcategories.all %}
                        <ul class="footer-se__list">
                            <li class="footer-se__list-item footer-se__list-item-sp">
                                <a class="footer-se__link footer-se__link-sp"
                                   href="{{ category.get_absolute_url }}">{{ category }}</a>
                            </li>
                            {% for subcategory in category.subcategories.all %}
                                <li class="footer-se__list-item">
                                    <a class="footer-se__link" href="{{ subcategory.get_absolute_url }}">
                                        {{ subcategory }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}

                <ul class="footer-se__list">
                    <li class="footer-se__list-item footer-se__list-item-sp">
                        <a class="footer-se__link footer-se__link-sp" href="#!">{% trans 'Остальные' %}</a>
                    </li>
                    <li class="footer-se__list-item">
                        <a class="footer-se__link" href="{% url 'about' %}">{% trans 'О нас' %}</a>
                    </li>
                    <li class="footer-se__list-item">
                        <a class="footer-se__link" href="{% url 'portfolio' %}">{% trans 'Портфолио' %}</a>
                    </li>
                    <li class="footer-se__list-item">
                        <a class="footer-se__link" href="{% url 'contacts' %}">{% trans 'Контакты' %}</a>
                    </li>
                    <li class="footer-se__list-item">
                        <a class="footer-se__link" href="{% url 'blog:blog' %}">{% trans 'Статьи' %}</a>
                    </li>
                    <li class="footer-se__list-item">
                        <a class="footer-se__link" href="{% url 'reviews' %}">{% trans 'Отзывы' %}</a>
                    </li>
                    <li class="footer-se__list-item">
                        <a class="footer-se__link" href="#!">{% trans 'Дилерам' %}</a>
                    </li>
                </ul>
            </div>
            <div class="footer-se__kinds">
                <h3 class="footer-se__kinds-title">{% trans 'Статьи' %}</h3>
                <ul class="footer-se__kinds-list">
                    {% for article in articles %}
                        <li class="footer-se__kinds-list-item">
                            <a class="footer-se__link" href="{{ article.get_absolute_url }}">{{ article }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
{% include 'components/_modal.html' %}
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
