{% load static custom_tags i18n %}

{% get_categories as categories_data %}
{% get_cart_qty request as cart_total %}
{% filter_number config.PHONE_NUMBER as phone_number %}


{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as languages %}


<header class="header-top">
    <a class="logo" href="{% url 'home' %}"><img src="{% static 'images/icons/logo.svg' %}" alt="combo.uz logo"/></a>
    <div class="header-top__items header__items">
        <ul class="header-top__left">
            <li class="header-top__left-item">
                <a class="header-top__left-link" href="{% url 'about' %}">{% trans 'О компании' %}</a>
            </li>
            <li class="header-top__left-item">
                <a class="header-top__left-link" href="{% url 'contacts' %}">{% trans 'Контакты' %}</a>
            </li>
            <li class="header-top__left-item">
                <a class="header-top__left-link" href="{% url 'portfolio' %}">{% trans 'Портфолио' %}</a>
            </li>
            <li class="header-top__left-item header__list-item"><a
                    class="header-top__left-link header-top__left-link-menu" href="#!">{% trans 'Дополнительно' %}</a>
                <ul class="header__list-sub header__list-sub-se">
                    <li class="header-top__right-item"><a
                            class="header-top__right-link header-top__right-link-first"
                            href="mailto:{{ config.EMAIL }}"><img src="{% static 'images/icons/message.svg' %}"
                                                                  alt="combo.uz mail"><span>{{ config.EMAIL }}</span></a>
                    </li>
                    <li class="header-top__right-item"><a
                            class="header-top__right-link header-top__right-sp-link darkBlueHover"
                            href="#!">{% trans 'Заказать звонок' %}</a></li>
                    {% if not request.user.is_authenticated %}
                        <li class="header-top__right-item"><a class="header__link header__link-sp"
                                                              href="#!">{% trans 'Авторизация / Регистрация' %}</a></li>
                    {% else %}
                        <li class="header-top__right-item header-top__right-item--mod">
                            <a href="{% url 'accounts:logout' %}">{% trans 'Выйти' %}</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>

        <ul class="header__list header__list-se">
            <li class="header-top__right-item">
                <a class="header-top__right-link" href="tel:{{ phone_number }}">
                    <img src="{% static 'images/icons/call.svg' %}" alt="combo.uz phone number"/>
                    <span>{{ config.PHONE_NUMBER }}</span>
                </a>
            </li>
            <li class="header__list-se-item">
                <a class="header__link-se" href="{% url 'cart:cart' %}"><img
                        src="{% static 'images/icons/work-white.svg' %}" alt="combo.uz busket goods"/><span
                        class="header__busket-notify have-goods">{{ cart_total }}</span></a>
            </li>
            <li class="header__list-se-item">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" class="languages" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                    selected{% endif %}>
                                {{ language.code|upper }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go">
                </form>
            </li>
        </ul>
        <ul class="header__list header__list-top">
            {% for category in categories_data %}
                <li class="header__list-item">
                    <a class="header__link" href="#">{{ category }}</a>
                    {% if category.subcategories.all %}
                        <ul class="header__list-sub">
                            {% for subcategory in category.subcategories.all %}
                                <li class="header__list-sub-item">
                                    <a class="header__link header__list-sub-link"
                                       href="{{ subcategory.get_absolute_url }}">
                                        {{ subcategory }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <button class="header__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                <path d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2Zm3.36 12.3c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22s-.38-.07-.53-.22l-2.3-2.3-2.3 2.3c-.15.15-.34.22-.53.22s-.38-.07-.53-.22a.754.754 0 0 1 0-1.06l2.3-2.3-2.3-2.3a.754.754 0 0 1 0-1.06c.29-.29.77-.29 1.06 0l2.3 2.3 2.3-2.3c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-2.3 2.3 2.3 2.3Z"
                      fill="#fff"/>
            </svg>
        </button>
    </div>
    <div class="header__abs"></div>
    <div class="header__controls">
        <a class="header-top__right-link header__controls-number" href="tel:{{ phone_number }}"><img
                src="{% static 'images/icons/call.svg' %}"
                alt="combo.uz phone number"/><span>{{ config.PHONE_NUMBER }}</span></a>
        <button class="header__btn"><span class="bars first"></span><span class="bars second"></span><span
                class="bars third"></span></button>
    </div>
</header>

<div class="header">
    <div class="container">
        <nav class="header__nav">
            <ul class="header__list header__list-top">
                {% for category in categories_data %}
                    <li class="header__list-item">
                        <a class="header__link" href="#">{{ category }}</a>
                        {% if category.subcategories.all %}
                            <ul class="header__list-sub">
                                {% for subcategory in category.subcategories.all %}
                                    <li class="header__list-sub-item">
                                        <a class="header__link header__list-sub-link"
                                           href="{{ subcategory.get_absolute_url }}">
                                            {{ subcategory }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
