{% load static custom_tags %}

{% get_categories as categories_data %}

<header class="header-top">
  <a class="logo" href="/"><img src="{% static 'images/icons/logo.svg' %}" alt="combo.uz logo" /></a>
  <div class="header-top__items header__items">
    <ul class="header-top__left">
      <li class="header-top__left-item">
        <a class="header-top__left-link" href="{% url 'about' %}">О компании</a>
      </li>
      <li class="header-top__left-item">
        <a class="header-top__left-link" href="{% url 'contacts' %}">Контакты</a>
      </li>
      <li class="header-top__left-item">
        <a class="header-top__left-link" href="{% url 'portfolio' %}">Портфолио</a>
      </li>
    </ul>
    <ul class="header-top__right">
      <li class="header-top__right-item">
        <a class="header-top__right-link header-top__right-link-first" href="mailto:info@combo.uz">
          <img src="{% static 'images/icons/message.svg' %}" alt="combo.uz mail" />
          <span>info@combo.uz</span>
        </a>
      </li>
      <li class="header-top__right-item">
        <a class="header-top__right-link" href="tel:+998951423313"><img src="{% static 'images/icons/call.svg' %}" alt="combo.uz phone number" /><span>+998 (95) 142 - 33 - 13</span></a>
      </li>
    </ul>
    <ul class="header-top__right">
      <li class="header-top__right-item">
        <a class="header-top__right-link header-top__right-sp-link darkBlueHover" href="#!">Заказать звонок</a>
      </li>
      <li class="header-top__right-item">
        {% if not request.user.is_authenticated %}
          <a class="header__link header__link-sp" href="#!">Авторизация / Регистрация</a>
        {% else %}
          <a class="" href="{% url 'accounts:logout' %}" style="color: #0f9ed8;">Выйти</a>
        {% endif %}
      </li>
    </ul>
    <ul class="header__list header__list-se">
      <li class="header__list-se-item">
        <a class="header__link-se" href="#!"><img src="{% static 'images/icons/heart-white.svg' %}" alt="combo.uz favorites" /></a>
      </li>
      <li class="header__list-se-item">
        <a class="header__link-se" href="{% url 'cart:cart' %}"><img src="{% static 'images/icons/work-white.svg' %}" alt="combo.uz busket goods" /><span class="header__busket-notify have-goods">2</span></a>
      </li>
      <li class="header__list-se-item">
        <div class="header__lang">
          <span class="header__lang-current header-top__right-link">
            RU<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="COCO/Duotone/Arrow - Bottom">
                <path id="Vector" d="M17 9.5L12 14.5L7 9.5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </g>
            </svg>
          </span>
          <div class="header__lang-options">
            <a class="header__lang-link" href="/?ln=ru">RU</a><a class="header__lang-link" href="/?ln=en">EN</a>
          </div>
        </div>
      </li>
    </ul>
    <ul class="header__list header__list-top">
      {% for category in categories_data %}
        <li class="header__list-item">
          <a class="header__link" href="{{ category.get_absolute_url }}">{{ category }}</a>
          {% if category.subcategories.all %}
            <ul class="header__list-sub">
              {% for subcategory in category.subcategories.all %}
                <li class="header__list-sub-item">
                  <a class="header__link header__list-sub-link" href="{{ subcategory.get_absolute_url }}">{{ subcategory }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    <button class="header__close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
        <path d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2Zm3.36 12.3c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22s-.38-.07-.53-.22l-2.3-2.3-2.3 2.3c-.15.15-.34.22-.53.22s-.38-.07-.53-.22a.754.754 0 0 1 0-1.06l2.3-2.3-2.3-2.3a.754.754 0 0 1 0-1.06c.29-.29.77-.29 1.06 0l2.3 2.3 2.3-2.3c.29-.29.77-.29 1.06 0 .29.29.29.77 0 1.06l-2.3 2.3 2.3 2.3Z" fill="#fff" />
      </svg>
    </button>
  </div>
  <div class="header__abs"></div>
  <div class="header__controls">
    <a class="header-top__right-link header__controls-number" href="tel:+998951423313"><img src="{% static 'images/icons/call.svg' %}" alt="combo.uz phone number" /><span>+998 (95) 142 - 33 - 13</span></a>
    <button class="header__btn"><span class="bars first"></span><span class="bars second"></span><span class="bars third"></span></button>
  </div>
</header>

<div class="header">
  <div class="container">
    <nav class="header__nav">
      <ul class="header__list header__list-top">
        {% for category in categories_data %}
          <li class="header__list-item">
            <a class="header__link" href="{{ category.get_absolute_url }}">{{ category }}</a>
            {% if category.subcategories.all %}
              <ul class="header__list-sub">
                {% for subcategory in category.subcategories.all %}
                  <li class="header__list-sub-item">
                    <a class="header__link header__list-sub-link" href="{{ subcategory.get_absolute_url }}">{{ subcategory }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
