{% extends 'base.html' %}
{% load static i18n custom_tags %}


{% block title %}
    {% trans 'Контакты' %}
{% endblock %}

{% block content %}

    <section class="contact-info">
        <div class="container">
            <h2 class="contact-info__title">{% trans 'Контактная информация' %}</h2>
            <div class="contact-info__content">
                <div class="contact-info__left">
                    <p class="contact-info__descr">{{ config.CONTACTS_PAGE_DESCRIPTION }}</p>
                    <div class="contact-info__item">
                        <img src="{% static 'images/icons/location.svg' %}" alt=""/><strong>{% trans 'Адрес' %}</strong><span>{% trans 'Офис' %}</span>
                    </div>
                    <div class="contact-info__item contact-info__item-se">
                        <a class="contact-info__link"
                           href="https://yandex.uz/maps/org/combo_uz/238036475009/?utm_medium=mapframe&utm_source=maps"
                           target="_blank">{{ config.OFFICE_ADDRESS }}</a>
                    </div>
                    <div class="contact-info__item">
                        <img src="{% static 'images/icons/message-dark.svg' %}"
                             alt=""/><strong>{% trans 'Почта' %}</strong><span>{% trans 'Отдел продаж' %}</span>
                    </div>
                    <div class="contact-info__item contact-info__item-se">
                        <a class="contact-info__link" href="mailto:info@combo.uz">{{ config.EMAIL }}</a>
                    </div>
                    <div class="contact-info__item">
                        <img src="{% static 'images/icons/call-dark.svg' %}"
                             alt=""/><strong>{% trans 'Телефоны' %}</strong><span>({{ config.CALLING_TIME }})</span>
                    </div>
                    <div class="contact-info__item">
                        {% filter_number config.PHONE_NUMBER as phone_number %}
                        <a class="contact-info__link-sp" href="tel:{{ phone_number }}">{{ config.PHONE_NUMBER }}</a>
                    </div>
                    <div class="contact-info__item">
                        <img src="{% static 'images/icons/clock.svg' %}"
                             alt=""/><strong>{% trans 'Режим работы' %}</strong><span>{{ config.WORKING_DAYS }}</span>
                    </div>
                    <div class="contact-info__item">
                        <span class="contact-info__link-sp">{{ config.WORKING_TIME  }}</span>
                    </div>
                </div>
                <div class="contact-info__right">
                    <div class="contact-info__map" style="position:relative;overflow:hidden;"><a
                            href="https://yandex.uz/maps/org/combo_uz/238036475009/?utm_medium=mapframe&utm_source=maps"
                            style="color:#eee;font-size:12px;position:absolute;top:0px;">Combo. uz</a><a
                            href="https://yandex.uz/maps/10335/tashkent/category/blinds_and_roller_blinds/184107989/?utm_medium=mapframe&utm_source=maps"
                            style="color:#eee;font-size:12px;position:absolute;top:14px;">Жалюзи и рулонные шторы в Ташкенте</a>
                        <iframe src="https://yandex.uz/map-widget/v1/?ll=69.225739%2C41.356874&mode=search&oid=238036475009&ol=biz&z=17.04"
                                width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
