{% extends 'base.html' %}
{% load static custom_tags i18n %}

{% block title %}
    Combo.uz busket order page
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        {% include './components/_breadcrumbs.html' %}
    </div>
    <form class="busket" action="{% url 'cart:cart' %}" method="POST">
        {% csrf_token %}
        <div class="container">
            {% include './components/_basket-top.html' %}
        </div>
        <div class="busket-middle">
            {% include './components/_basket-middle.html' %}
        </div>
        <div class="container">
            {% include './components/_basket-bottom.html' %}
        </div>
    </form>
{% endblock %}
