{% load static i18n %}


{{ subcategory.get_cornice_type }}

<div class="single__left">
    <div class="single__left-images">
        {% for img in product.images.all %}
            <div class="single__left-item">
                <img src="{{ img.image.url }}" alt="{{ product.name }}"/>
            </div>
        {% endfor %}
    </div>
    <div class="single__left-show" data-img="{{ product.get_first_img }}">
        <div class="single__left-zoom" itemprop="image"></div>
        <img src="{{ product.get_first_img }}" alt=""/>
    </div>
</div>
<form class="single__right" method="post" action="{{ product.add_to_cart }}">
    {% csrf_token %}
    <h2 class="single__right-title">{{ product.name }}</h2>
    <strong class="single__right-feature size">{% trans 'Размер' %}</strong>
    <div class="single__right-sep size">
        <div class="single__right-chose">
            {% if category.width_rounding %}
                <div class="single__right-hint-abs">
                    <p>{{ category.width_rounding }}</p>
                </div>
            {% endif %}
            <span class="single__right-info">{% trans 'ширина' %}</span>

            <select class="single__right-select" name="item-width">
                <option value="-" selected>-</option>
                {% for width in width_range %}
                    <option value="{{ width.width }}">{{ width }} мм</option>
                {% endfor %}
            </select>
        </div>
        <div class="single__right-chose">
            {% if category.length_rounding %}
                <div class="single__right-hint-abs">
                    <p>{{ category.length_rounding }}</p>
                </div>
            {% endif %}
            <span class="single__right-info">{% trans 'Длина' %}</span>
            <select class="single__right-select" name="item-length">
                <option value="-" selected="selected">-</option>
                {% for length in length_range %}
                    <option value="{{ length.length }}">{{ length }} мм</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <strong class="single__right-feature control">{% trans 'Управление' %}</strong>
    <div class="single__right-sep control">
        <label class="single__right-label">
            <input type="radio" value="left" name="item-control"/>
            <span class="single__right-check"></span>
            <span class="single__right-info">{% trans 'Слева' %}</span>
        </label>
        <label class="single__right-label">
            <input type="radio" value="right" name="item-control"/>
            <span class="single__right-check"></span>
            <span class="single__right-info">{% trans 'Справа' %}</span>
        </label>
    </div>
    <strong class="single__right-feature count">{% trans 'Кол-во' %}</strong>
    <div class="single__right-sep count">
        <select class="single__right-select" name="item-count">
            {% for qty in product.generate_qty_range %}
                <option value="{{ qty }}">{{ qty }}</option>
            {% endfor %}
        </select><span class="single__right-info">{% trans 'штук' %}</span>
    </div>
    <div class="single__right-flex">
        <div class="single__right-flex-left">
            <strong class="single__right-feature type-cornise">{% trans 'Тип карниза' %}</strong>
            <div class="single__right-sep">
                <label class="single__right-label">
                    <input type="radio" value="{{ subcategory.cornice_type }}"
                           name="item-cornice-type"
                           {% if subcategory.cornice_type == 'aluminum' %}checked{% endif %}
                    />
                    <span class="single__right-check"></span>
                    <span class="single__right-info">{% trans 'Алюминевый' %}</span>
                </label>
                <label class="single__right-label">
                    <input type="radio" value="plastic" name="item-cornice-type"
                           {% if subcategory.cornice_type == 'plastic' %}checked{% endif %}
                    />
                    <span class="single__right-check"></span>
                    <span class="single__right-info">{% trans 'Пластиковый' %}</span>
                </label>
            </div>
            <strong class="single__right-feature type-control">{% trans 'Тип управления' %}</strong>
            <div class="single__right-sep">
                <label class="single__right-label">
                    <input type="radio" value="manual" name="item-control-type"
                           {% if subcategory.control_type == 'manual' %}checked{% endif %}
                    />
                    <span class="single__right-check"></span>
                    <span class="single__right-info">{% trans 'Ручной' %}</span>
                </label>
                <label class="single__right-label">
                    <input type="radio" value="electro" name="item-control-type"
                           {% if subcategory.control_type == 'electrically_driven' %}checked{% endif %}
                    />
                    <span class="single__right-check"></span>
                    <span class="single__right-info">{% trans 'С электроприводом' %}</span>
                </label>
            </div>
        </div>
        <button class="single__right-btn darkBlueHover" type="submit">
            <strong>{% trans 'В корзину' %}</strong>
            <span class="single__right-icon"><img src="{% static 'images/icons/work-light.svg' %}" alt=""/></span>
        </button>
    </div>
</form>