{% load i18n %}


<ul class="single__content-features">
    <li class="single__content-elem">
        {% trans 'Страна производитель' %}: {{ product.manufacturer_country }}
    </li>
    <li class="single__content-elem">
        {% trans 'Тип ткани' %}: {{ product.fabric_type }}
    </li>
    <li class="single__content-elem">
        {% trans 'Свойство' %}: {{ product.property }}
    </li>
    <li class="single__content-elem">
        {% trans 'Затемнение' %}: {{ product.dimming }}%
    </li>
</ul>

{#<h4 class="single__content-price single__content-price--electrical" data-price="electro">#}
{#    {% trans 'Цена' %}: {{ product.get_electrical_price }} сум за 1 м2#}
{#</h4>#}
<h4 class="single__content-price">{% trans 'Цена' %}: <span data-start-price="{{ product.uzs_price }}">{{ product.get_price }}</span> сум за 1 м2

<p class="single__content-info">{{ product.body }}</p>
<h3 class="single__content-characters">{% trans 'Характеристики' %}</h3>
{% for option in product.options.all %}
    <div class="single__content-item">
        <h4 class="single__content-title">{{ option.title }}</h4>
        <p class="single__content-descr">{{ option.descr }}</p>
    </div>
{% endfor %}