{% load static i18n %}


<div class="single__left">
    <div class="single__left-images">
        {% for img in product.images.all %}
            <div class="single__left-item">
                <img src="{{ img.image.url }}" alt="{{ product.name }}"/>
            </div>
        {% endfor %}
    </div>
    <div class="single__left-show" data-img="{{ product.get_first_img }}">
        <div class="single__left-zoom" itemprop="image"></div>
        <img src="{{ product.get_first_img }}" alt=""/>
    </div>
</div>


<form class="single__right" method="post" action="{{ product.add_to_cart }}">
    {% csrf_token %}
    <h2 class="single__right-title">{{ product.name }}</h2>
    <strong class="single__right-feature size" href="ссылка-на-изображение.jpg">{% trans 'Размер' %}</strong>
    <div class="single__right-sep size">
        <div class="single__right-chose">

            <div class="single__right-hint-abs">
                <p>{{ product.category.width_rounding }}</p>
            </div>
            <span class="single__right-info">{% trans 'Ширина' %}</span>
            <select class="single__right-select self-page__control" name="item-width">
                <option value="{{ product.get_price_list_by_size.0.0 }}см" selected="selected"
                        data-price="{{ product.get_price_list_by_size.0.1 }}">{{ product.get_price_list_by_size.0.0 }}см
                </option>
                {% for size, price in product.get_price_list_by_size %}
                    {% if not forloop.counter == 1 %}
                        <option value="{{ size }}см" data-price="{{ price }}">{{ size }}см</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="single__right-chose">
            <div class="single__right-hint-abs">
                <p>{{ product.category.length_rounding }}</p>
            </div>
            <span class="single__right-info">{% trans 'Высота' %}</span>
            <select class="single__right-select self-page__control" name="item-length">
                <option value="{{ product.get_price_list_by_size.0.0 }}см" selected="selected"
                        data-price="{{ product.get_price_list_by_size.0.1 }}">{{ product.get_price_list_by_size.0.0 }}см
                </option>
                {% for size, price in product.get_price_list_by_size %}
                    {% if not forloop.counter == 1 %}
                        <option value="{{ size }}см" data-price="{{ price }}">{{ size }}см</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <strong class="single__right-feature control">{% trans 'Управление' %}</strong>
    <div class="single__right-sep control"><label class="single__right-label">
        <input type="radio" value="left" name="item-control">
        <span class="single__right-check"></span>
        <span class="single__right-info">{% trans 'Слева' %}</span>
    </label>
        <label class="single__right-label">
            <input type="radio" value="right" name="item-control">
            <span class="single__right-check"></span>
            <span class="single__right-info">{% trans 'Справа' %}</span>
        </label>
    </div>
    <strong class="single__right-feature count">{% trans 'Кол-во' %}</strong>
    <div class="single__right-sep count">
        <select class="single__right-select self-page__control" name="item-count">
            {% for qty in product.generate_qty_range %}
                <option value="{{ qty }}" data-count="{{ qty }}">{{ qty }}</option>
            {% endfor %}
        </select>
        <span class="single__right-info">{% trans 'штук' %}</span>
    </div>
    <div class="single__right-flex">
        <div class="single__right-flex-left">
            <strong class="single__right-feature type-cornise">{% trans 'Тип карниза' %}</strong>
            <div class="single__right-sep">
                <label class="single__right-label">
                    <input class="self-page__control" type="radio" value="aluminium" name="item-cornice-type"
                           data-price="{{ product.uzs_cornice_type_price }}">
                    <span class="single__right-check"></span>
                    <span class="single__right-info">{% trans 'Алюминевый' %}</span>
                </label>
                <label class="single__right-label">
                    <input class="self-page__control" type="radio" value="plastic" name="item-cornice-type"
                           data-price="0">
                    <span class="single__right-check"></span>
                    <span class="single__right-info">{% trans 'Пластиковый' %}</span>
                </label>
            </div>
            <strong class="single__right-feature type-control">{% trans 'Тип управления' %}</strong>
            <div class="single__right-sep">
                <label class="single__right-label">
                    <input class="self-page__control" type="radio" value="manual" name="item-control-type"
                           data-price="0">
                    <span class="single__right-check"></span>
                    <span class="single__right-info">{% trans 'Ручной' %}</span>
                </label>
                <label class="single__right-label">
                    <input class="self-page__control" type="radio" value="electro" name="item-control-type"
                           data-price="{{ product.uzs_electrical_price }}">
                    <span class="single__right-check"></span>
                    <span class="single__right-info">{% trans 'С электроприводом' %}</span>
                </label>
            </div>
        </div>
        <button class="single__right-btn darkBlueHover" type="submit">
            <strong>{% trans 'В корзину' %}</strong>
            <span class="single__right-icon">
                <img src="{% static 'images/icons/work-light.svg' %}" alt="">
            </span>
        </button>
    </div>
</form>