{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Категории' %}
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        {% include './components/categories/_breadcrumbs.html' %}
    </div>
    <section class="goods-filters">
        <div class="container">
            <h2 class="goods-filters__title">{{ category }} COMBO</h2>
            <h3 class="goods-filters__name">{% trans 'Фильтры' %}</h3>
            <div class="goods-filters__content">
                {% include './components/categories/_filters-left.html' %}
                <div class="goods-filters__right">
                    {% include './components/categories/_categories-sort.html' %}
                    <div class="goods-filters__cards">
                        {% if 'subcategories' in request.path or 'products' in request.path %}
                            {% for product in products %}
                                {% include './components/categories/_cassete-item.html' %}
                            {% endfor %}
                        {% else %}
                            {% for subcategory in category.subcategories.all %}
                                {% include './components/index/_roll-curtains-card.html' %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% include './components/categories/_pagination.html' %}
        </div>
    </section>
{% endblock %}
