{% extends 'base.html' %}
{% load i18n static custom_tags %}



{% block title %}
    Combo.uz {% trans 'Страница товара' %} {{ product.name }}
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        {% include './components/product/_breadcrumbs.html' %}
    </div>
    <section class="single">
        {% get_width_or_length_range category=product.category range_type='width' as width_range %}
        {% get_width_or_length_range product.category 'length' as length_range %}

        <div class="container">
            <div class="single__good">
                {% include './components/product/_product-top.html' %}
            </div>
            <div class="single__content">
                {% include './components/product/_product-middle.html' %}
            </div>
            {% include './components/product/_product-comments.html' %}
        </div>
    </section>
{% endblock %}
