{% load static %}

<div class="goods-filters__sort">
  <a class="goods-filters__sort-link active" href="#!">
    <span>По цене</span>
    <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" />
  </a>
  <a class="goods-filters__sort-link" href="#!">
    <span>Новинки</span>
    <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" />
  </a>
  <a class="goods-filters__sort-link" href="#!">
    <span>По наименованию</span>
    <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" />
  </a>
</div>
