{% load static i18n %}
<div class="goods-filters__sort">
  {% if '-usd_price' in request.META.QUERY_STRING %}
    <a class="goods-filters__sort-link active" href="?sort=usd_price">
      <span>{% trans 'По цене' %}</span>
      <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" />
    </a>
  {% else %}
    <a class="goods-filters__sort-link" href="?sort=-usd_price">
      <span>{% trans 'По цене' %}</span>
      <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" />
    </a>
  {% endif %}
  {% if '-created_at' in request.META.QUERY_STRING %}
    <a class="goods-filters__sort-link active" href="?sort=created_at">
      <span>{% trans 'Новинки' %}</span>
      <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" />
    </a>
  {% else %}
    <a class="goods-filters__sort-link" href="?sort=-created_at">
      <span>{% trans 'Новинки' %}</span>
      <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" />
    </a>
  {% endif %}
  {% if '-name' in request.META.QUERY_STRING %}
    <a class="goods-filters__sort-link active" href="?sort=name">
      <span>{% trans 'По наименованию' %}</span>
      <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" />
    </a>
  {% else %}
    <a class="goods-filters__sort-link" href="?sort=-name">
      <span>{% trans 'По наименованию' %}</span>
      <img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" />
    </a>
  {% endif %}
</div>
