{% load static custom_tags %}

{% get_categories as categories %}

<aside class="goods-filters__left">
  <div class="goods-filters__accordion">
    <div class="goods-filters__accordion-item open">
      <h4 class="goods-filters__accordion-name"><span>Каталог</span><img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" /></h4>
      <div class="goods-filters__accordion-content">
        <ul class="goods-filters__accordion-list">
          {% for category in categories %}
            <li class="goods-filters__accordion-elem">
              <a class="goods-filters__accordion-link" href="{{ category.get_absolute_url }}"><span>{{ category }}</span><span>({{ category.count_products }})</span></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="goods-filters__accordion-item">
      <h4 class="goods-filters__accordion-name"><span>Цвет</span><img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" /></h4>
      <div class="goods-filters__accordion-content">
        <ul class="goods-filters__accordion-list">
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="goods-filters__accordion-item">
      <h4 class="goods-filters__accordion-name"><span>Затемнение</span><img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" /></h4>
      <div class="goods-filters__accordion-content">
        <ul class="goods-filters__accordion-list">
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="goods-filters__accordion-item">
      <h4 class="goods-filters__accordion-name"><span>Производитель</span><img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" /></h4>
      <div class="goods-filters__accordion-content">
        <ul class="goods-filters__accordion-list">
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="goods-filters__accordion-item">
      <h4 class="goods-filters__accordion-name"><span>Сортировка</span><img src="{% static 'images/icons/arrow-bottom.svg' %}" alt="" /></h4>
      <div class="goods-filters__accordion-content">
        <ul class="goods-filters__accordion-list">
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
          <li class="goods-filters__accordion-elem">
            <a class="goods-filters__accordion-link" href="#!"><span>Exclusive</span><span>Кол-во(31)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
