<ul class="goods-filters__pagination">
  <li class="goods-filters__pagination-item">
    <a class="goods-filters__pagination-btn" href="#!">prev</a>
  </li>
  <li class="goods-filters__pagination-item">
    <a class="goods-filters__pagination-btn active" href="#!">1</a>
  </li>
  <li class="goods-filters__pagination-item">
    <a class="goods-filters__pagination-btn" href="#!">2</a>
  </li>
  <li class="goods-filters__pagination-item">
    <a class="goods-filters__pagination-btn" href="#!">3</a>
  </li>
  <li class="goods-filters__pagination-item">
    <a class="goods-filters__pagination-btn" href="#!">next</a>
  </li>
</ul>
