.best-curtains__background {
    height: 397px;
    object-fit: cover;
}

.roll-curtains:not(:first-child) {
    margin-top: 30px;
}

.cassette-combo__custom {
    margin-top: 61px;
}

.single-comments__fullname {
    margin-left: 0;
}

.single-comments__item:not(:last-child) {
    margin-bottom: 40px;
}

.single-comments__descr {
    margin-bottom: 15px;
}

.single-comments__photos {
    display: flex;
    align-items: center;
    gap: 15px;

}

.single-comments__photo {
    max-width: 100px;
    height: 90px;
}

.single-comments__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}