{% load static custom_tags i18n %}


<div class="roll-curtains__card">
    <a class="roll-curtains__img roll-curtains__img--custom" href="{{ category.get_absolute_url }}">
        <img src="{{ category.get_first_img }}" alt="{{ category.name }} Combo.uz" loading="lazy"/>
    </a>
    <div class="roll-curtains__text">

        <h3 class="roll-curtains__name roll-curtains__name--custom">{{ category.name }}</h3>
        <div class="roll-curtains__sep roll-curtains__sep--custom">
            <strong class="roll-curtains__price roll-curtains__price--custom">
                {% trans 'От' %} {{ category.get_price }} {% trans 'сум за' %} м<sup>2</sup>
            </strong>
        </div>
    </div>
</div>
