{% load static custom_tags i18n %}

{% convert_price subcategory.category.get_uzs_price as category_price %}


<div class="roll-curtains__card">
  <a class="roll-curtains__img" href="{{ subcategory.get_absolute_url }}">
    <img src="{{ subcategory.get_first_img }}" alt="{{ subcategory.name }} Combo.uz" loading="lazy" />
    {% if subcategory.has_discount %}
      <span class="roll-curtains__discount-abs">{% trans 'СКИДКА' %} {{ subcategory.category.discount }}%</span>
    {% endif %}
  </a>
  <div class="roll-curtains__text">
    <span class="roll-curtains__discount">{% trans 'Скидка до 15%' %}</span>
    <div class="roll-curtains__sep">
      <h3 class="roll-curtains__name">{{ subcategory.name }}</h3><strong class="roll-curtains__price">{% trans 'От' %} {{ category_price }} {% trans 'сум за' %} м<sup>2</sup></strong>
    </div>
  </div>
</div>
