{% load static i18n custom_tags %}

{% get_config as config %}

<div class="container">
  <div class="about__content">
    <div class="about__left">
      <h3 class="about__title">{{ config.ABOUT_PAGE_TITLE }} COMBO.UZ</h3>
      <p class="about__descr">{{ config.ABOUT_PAGE_DESCRIPTION }}</p>
    </div>
    <div class="about__right">
      <div class="about__slider">
        <div class="swiper-wrapper about__wrapper">
          {% for project in about_images %}
            <div class="swiper-slide about__slide">
              <img src="{{ project.image.url }}" alt="Combo.uz" />
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
