{% load static i18n %}

<div class="container">
  <h2 class="our-advantages__title">{% trans 'Наши преимущества' %}</h2>
  <div class="our-advantages__cards">
    <div class="our-advantages__card">
      <div class="our-advantages__text">
        <div class="our-advantages__icon">
          <img src="{% static 'images/icons/refresh.svg' %}" alt="icon" />
        </div>
        <p class="our-advantages__descr">{% trans 'На сегодняшний день 40% наших клиентов – это те, кто пришел к нам повторно, или те, кого к нам направили по рекомендации наши «старые» заказчики.' %}</p>
      </div>
    </div>
    <div class="our-advantages__card">
      <div class="our-advantages__text">
        <div class="our-advantages__icon">
          <img src="{% static 'images/icons/refresh.svg' %}" alt="icon" />
        </div>
        <p class="our-advantages__descr">{% trans 'Собственное производство выполнять заказы быстро и с высоким качеством' %}</p>
      </div>
    </div>
    <div class="our-advantages__card">
      <div class="our-advantages__text">
        <div class="our-advantages__icon">
          <img src="{% static 'images/icons/crown.svg' %}" alt="icon" />
        </div>
        <p class="our-advantages__descr">{% trans 'Мы гордимся тем, что за годы работы компании ее коллектив практически остался неизменным.Опытные менеджеры, дизайнеры, сборщики – вот одно из слагаемых успеха!' %}</p>
      </div>
    </div>
  </div>
</div>
