{% load static i18n custom_tags %}

<div class="container">
    <h2 class="our-advantages__title">{% trans 'Наши преимущества' %}</h2>
    <div class="our-advantages__cards">
        <div class="our-advantages__card">
            <div class="our-advantages__text">
                <div class="our-advantages__icon">
                    <img src="{% static 'images/icons/refresh.svg' %}" alt="icon"/>
                </div>
                <p class="our-advantages__descr">
                    {{ config.ADVANTAGE_1 }}
                </p>
            </div>
        </div>
        <div class="our-advantages__card">
            <div class="our-advantages__text">
                <div class="our-advantages__icon">
                    <img src="{% static 'images/icons/refresh.svg' %}" alt="icon"/>
                </div>
                <p class="our-advantages__descr">
                    {{ config.ADVANTAGE_2 }}
                </p>
            </div>
        </div>
        <div class="our-advantages__card">
            <div class="our-advantages__text">
                <div class="our-advantages__icon">
                    <img src="{% static 'images/icons/crown.svg' %}" alt="icon"/>
                </div>
                <p class="our-advantages__descr">
                    {{ config.ADVANTAGE_3 }}
                </p>
            </div>
        </div>
    </div>
</div>
